<div class='container'>
  <h2>LABKEY HTML5 API INTEGRTION</h2>
  <br><br>
  <h3>Housing Relocations</h3>
  <h4><a href='/animals/new'>Data Entry</a>
  <h4><a href='/animals/'>Reports</a>
  <br>
  <br>
  <br>
  <h3>Case Management</h3>
  <h4><a href='#'>Data Entry</a>
  <h4><a href='#'>Reports</a>
</div>
